; Makefile for Gwap Profile (Drupal 7)
core = 7.x

api = 2

projects[drupal][version] = "7.37"
projects[gwapd7p][type] = "profile"
projects[gwapd7p][download][type] = "git"
projects[gwapd7p][download][url] = "https://github.com/gwap/gwapd7p.git"
projects[gwapd7p][download][branch] = "master"
